{% extends 'base.html.twig' %}

{% block title %}Mechanics List!{% endblock %}

{% block body %}

    <h1 class="title">Mechanics</h1>

    {# <div class="sort-box">
        <div class="title2 title-sort">Order by:</div>
            <form action="{{ path('mechanic_index')}}" method="GET">
                <div style="background-color:#f4f4f4; padding-right:5px; float: left; font-size: 16px; border-radius: 3px;">
                    <select class="select-sort" name="sort">
                        <option value="default">Default</option>
                        <option value="title_az" {% if sortBy == 'title_az' %} selected {% endif %}>Title</option>
                        <option value="title_za" {% if sortBy == 'title_za' %} selected {% endif %}>Title reverse</option>
                    </select>
                </div>
                <div class="sort-btn" >
                    <button class="sort" type="submit">Sort</button>
                </div>
            <input type="hidden" name="token" value="{{ csrf_token('') }}"/>
            </form>
            <div class="clear-btn">
                <a class="delete2" action="{{ path('mechanic_index')}}">Reset</a>
            </div>
    </div> #}
    {% for mechanic in mechanics %}
        <div class="list-p">
            <div class="name-surname">{{mechanic.name}} {{mechanic.surname}}</div>
                {# <div class="count">
                    {% for note in mechanic.notes %}
                            <div class="count-list"><span class="dot"></span>{{note.title}}</div>
                    {% endfor %}
                </div> #}
            <div class="delete-btn">
            <style>
            .mobilebtn {padding-left:5px !important; padding-right:5px !important; background-color:f2f2f2; color:#000 !important;}
            .mobilebtn i {color:#000 !important;}
            </style>
                <form action="{{ path('mechanic_delete', {id: mechanic.id}) }}" method="POST">
                <button class="delete desktopbtn" type="submit">Delete</button>
                <button class="delete mobilebtn" type="submit"><i class="fa fa-trash"></i></button>
                </form>    
            </div>
            <div class="edit-btn">
                <a class="edit desktopbtn" href="{{ path('mechanic_edit', {id: mechanic.id}) }}">Edit</a>
                <a class="edit mobilebtn" href="{{ path('mechanic_edit', {id: mechanic.id}) }}"><i class="fa fa-edit"></i></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}