<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %}</title> 
        <link href="http://localhost:8888/dashboard/garage/public/build/app.css" rel="stylesheet"/>

        <link href="{{ asset('css/layout.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://a5.lt/plugins/font-awesome-4.7.0/css/font-awesome.min.css">

        <script src="http://localhost:8888/dashboard/garage/public/build/app.js" defer></script>
        <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-a11y="true"></script>

<!-- include libraries(jQuery, bootstrap) -->



<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
    {% if errors is defined and errors|length > 0 %}
    {% include 'msg/validation.html.twig' %}
    {% endif %}
    {% if success is defined and success|length > 0 %}
    {% include 'msg/success.html.twig' %}
    {% endif %}
    <div class="block">
        {# <div class="circle"></div>
        <div class="circle2"></div> #}
            <div class="menu">
                <a class="logo" href="#"><span class="name">Trucks</span></a>
                <a class="logo1" href="#"><span class="name2">garage</span></a>
                <nav class="nav-item">
                    <div class="nav-item dropdown">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                Mechanics
                            </a>
                            <div class="dropdown-menu dropdown-menu-right left " aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('mechanic_index') }}">
                                    Mechanics list
                                </a>
                                <a class="dropdown-item" href="{{ path('mechanic_create') }}">
                                    New mechanic
                                </a>
                            </div>
                    </div>
                    <div class="nav-item dropdown">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                Trucks
                            </a>
                            <div class="dropdown-menu dropdown-menu-right left" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('truck_index') }}">
                                    Trucks list
                                </a>
                                <a class="dropdown-item" href="{{ path('truck_create') }}">
                                    New truck
                                </a>
                            </div>
                    </div>
                    <a class="loggout nav-link" href="{{ path('app_logout') }}">Logout</a>
                    <div class="nav item men-user">
                        <div class="men-user-title">Online user</div>
                        <a class="nav-user" href="#">
                            <span class="dots"></span>
                            {# <span class="nav-user-email">{{ app.user.username }}</span></a> #}
                    </div>
                </nav>
            </div>
            <div class="container1">
                <div class ="mob-menu">
                    <a class="logo-mob" href="#"><span class="name">Trucks</span><span class="name2">garage</span></a>

                    <div class="hamburger">
                    <a class="mob-menu-ico-h">
                        <div class="mob-menu-icon">
                            <div class="menu-ico-str"></div>
                            <div class="menu-ico-str1"></div>
                            <div class="menu-ico-str2"></div>
                        </div>
                    </a>
                </div>
                <nav>
                    <div class="nav">
                        <a href="{{ path('mechanic_index') }}">Mechanics list</a>
                    </div>
                    <div class="nav">
                        <a href="{{ path('mechanic_create') }}">New mechanic</a>
                    </div>
                    <div class="nav">
                        <a href="{{ path('truck_index') }}">Trucks list</a>
                    </div>
                    <div class="nav">
                        <a href="{{ path('truck_create') }}">New truck</a>
                    </div>
                    <div class="nav">
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                    <div class="item men-user">
                        <div class="nav-user" 
                            <span class="men-user-title">Online user</span>
                            <span class="dots"></span>
                            {# <span class="nav-user-email">{{ app.user.username }}</span> #}
                        </div>
                    </div>
                </nav>
            </div>
                <div class="container1-a">
                {% block body %}{% endblock %}
                </div>
            </div>
    </div>
    </body>
</html>