{% extends 'base.html.twig' %}

{% block title %}Trucks List{% endblock %}

{% block body %}

    <h1 class="title">Trucks</h1>
    <div class="sort-box">
        <div class="title2 title-filter">Filter by:</div>
        <form action="{{ path('truck_index')}}" method="GET">
            <select class="select-filter" name="mechanic_id">
            <option value="0">View All</option>
                {% for mechanic in mechanics %}
                    <option value="{{mechanic.id}}" {% if mechanicId == mechanic.id %} selected {% endif %}>{{mechanic.name}} {{mechanic.surname}}</option>
                {% endfor %}
            </select>
            <div class="sort-btn">
                <button class="edit" type="submit">Filter</button>
            </div>
        </form>
        <div class="clear-btn">
            <a class="delete" href="{{ path('truck_index')}}">Reset</a>
        </div>
    </div>
    {% for truck in trucks %}
        <div class="list-p">
            <div class="name-prop"><span class="name-prop2">{{truck.maker}}</span></div>
            <div class="count-t">
                <span class="">{{truck.mechanic.name}} {{truck.mechanic.surname}}</span>
            </div>
            <style>
            .mobilebtn {padding-left:5px !important; padding-right:5px !important; background-color:f2f2f2; color:#000 !important;}
            .mobilebtn i {color:#000 !important;}
            </style>
            <div class="delete-btn">
                <form action="{{ path('truck_delete', {id: truck.id}) }}" method="POST">
                <button class="delete desktopbtn" type="submit">Delete</button>
                <button class="delete mobilebtn" type="submit"><i class="fa fa-trash"></i></button>
                </form>
            </div>
            <div class="edit-btn">
                <a class="edit desktopbtn" href="{{ path('truck_edit', {id: truck.id}) }}">Edit</a>
                <a class="edit mobilebtn" href="{{ path('truck_edit', {id: truck.id}) }}"><i class="fa fa-edit"></i></a>
            </div>
        </div>
        
    {% endfor %}
{% endblock %}